body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.tooltip {
  position: absolute;
  background-color: white;
  color: black;
  padding: 4px 8px;
  max-width: 200px;
  display: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
  border: 2px solid black;
}

#controls {
  display: flex;
  justify-content: space-between;
  width: 70px;
  position: absolute;
  margin: 10px;
}

h1 {
  font-size: 70px;
  margin: 0;
  font-family: 'Satisfy', cursive;
}

h2 {
  font-size: 20px;
  margin-top: 5px;
}

#buttonContainer {
  margin-right: 20px;
}

button:not(#zoom) {
  border: 2px solid black;
  transition: background 0.3s, transform 0.3s;
  outline: 0;
  margin-bottom: 15px;
  display: block;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
}

button:nth-child(odd):not(#zoom) {
  transform: rotate(3deg);
}

button:nth-child(even):not(#zoom) {
  transform: rotate(-3deg);
}

button:hover:not(#zoom), [aria-pressed="true"] {
  background: rgba(211,211,211, 0.6);
  transform: rotate(0deg);
  cursor: pointer;
}

#container {
  padding: 0 30px 0 30px;
  margin: 0 auto;
  max-width: 1000px; 
}

#innerContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, auto);
} 

svg {
  background: whitesmoke;
}

svg:hover {
  cursor: pointer;
}

svg:active {
  cursor: grab;
}